:root {
  /*Fonts*/
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
}

.container {
  max-width: 1600px;
}

.page-header {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 32px 0px;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px;
  box-sizing: border-box;
}

.page-header .logo {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 95px;
}
.page-header .logo span {
  color: #2196f3;
}
ul {
  list-style: none;
}
.page-header .site-nav li a:hover {
  color: #2196f3;
  list-style: none;
}

.site-nav,
.studio,
.portfolio,
.contacts {
  font-family: var(--main-font);
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

.site-nav li {
  margin-right: 50px;
}

.page-header .studio {
  color: #2196f3;
}

.ul-contacts,
.mailto-contacts,
.tel-contacts {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.ul-contacts li {
  margin-right: 50px;
}

.page-header .ul-contacts li a:hover {
  color: #2196f3;
}
/*Main*/
.section-button {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  text-decoration: none;
  align-items: center;
}
.section-button .title {
  font-family: var(--main-font);
  padding: 200px 450px 280px 450px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.section-button .button {
  background: #2196f3;
  position: absolute;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.section-button .button p {
  font-family: var(--main-font);
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-details .block {
  display: flex;
  padding-top: 90px;
  max-width: 1170px;
  height: 100px;
  padding-left: 215px;
  padding-right: 215px;
}

.section-details .title {
  font-family: var(--main-font);
  margin-right: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-details .text {
  font-family: var(--main-font);
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.section-doing .images {
  width: 370px;
  height: 294px;
  top: 1060px;
  left: 215px;
}

.images-one {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
}
.images-two {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
}
.images-three {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
}

.section-doing {
  max-width: 1170px;
  height: 385px;
  padding: 95px 215px 95px 215px;
}

.title-doing {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.img-team {
  width: 270px;
}
.section-team {
  max-width: 1600px;
  background: #f5f4fa;
  max-width: 1600px;
  height: 650px;
  display: flex;
  margin-top: 95px;
  padding-left: 215px;
  padding-right: 215px;
  box-sizing: border-box;
}
.section-team .title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-teams {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;
}
.section-team .ul-team {
  display: flex;
  padding: 0%;
}
.section-team .ul-team li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team .text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
}

/*Footer*/

.footer {
  background-color: #2f303a;
  text-decoration: none;
  list-style: none;
  max-width: 1600px;
  height: 250px;
}
.footer .logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  margin-left: 215px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer .logo span {
  color: #2196f3;
}
.footer-contacts {
  padding: 20px 1200px 40px 215px;
}
.address {
  font-family: var(--main-font);

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
}
.footer .mailto-footer,
.tel-footer {
  font-family: var(--main-font);

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style: none;
}

/** PORTFOLIO*/
.page-header-portfolio {
}
.page-header-portfolio {
  max-width: 1600px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}
.page-header-portfolio .container {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 215px;
}
.page-header-portfolio .logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.page-header-portfolio .logo span {
  color: #2196f3;
}
ul {
  list-style: none;
}
.page-header-portfolio .site-nav li a:hover {
  color: #2196f3;
}
.page-header-portfolio .portfolio {
  color: #2196f3;
}
.page-header-portfolio .ul-contacts li a:hover {
  color: #2196f3;
}

/*MAIN*/
.button-portfolio {
  max-width: 1600px;
}

.button-portfolio .all {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}
.button-portfolio,
.web .program .design .marketing {
  font-family: var(--main-font);
  margin-right: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
.ul-poster {
  flex-direction: row;
  flex-wrap: wrap;
}

.ul-poster li {
  width: 370px;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.poster .main-poster .title {
  font-family: var(--main-font);

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.poster .main-poster .text {
  font-family: var(--main-font);

  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
