:root {
  --background-color: #ffffff;
  --nav-link-color: #212121;
  --focus-color: #2196f3;
  --logo-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --button-text-color: #212121;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-box {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* лого первая часть */
.logo {
  margin-right: 95px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part {
  --logo-color: #000000;
  color: var(--logo-color);
}

.nav-list .list-item + .list-item {
  margin-left: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current,
.nav-link:hover,
.nav-link:focus {
  color: var(--focus-color);
}

.contacts {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--focus-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #757575;
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;

  --title-color: #ffffff;
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;

  border: none;
  border-radius: 4px;

  --button-text-color: #ffffff;
  color: var(--button-text-color);
  background-color: var(--focus-color);
  font-size: 16px;
  font-weight: 700; /*????*/
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  --button-text-color: #000000;
  color: var(--button-text-color);
  --focus-color: #ffffff;
  background-color: var(--focus-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
}

.benefits .title {
  display: none;
  margin: 0;

  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.benefits .list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.benefits .list-item {
  width: 270px;
}

.benefits .list-item + .list-item {
  margin-left: 30px;
}

.benefits .list-title {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits .description {
  margin: 0;
}
.services {
  padding-top: 0;
}

.services .title {
  margin: 0;
  margin-bottom: 50px;

  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.services .list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services .item + .item {
  margin-left: 30px;
}

.services .no-gap {
  display: block;
}
.team.section {
  --background-color: #f5f4fa;
  background-color: var(--background-color);
}

.team .title {
  margin: 0;
  margin-bottom: 50px;

  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team .list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.team .item {
  padding-bottom: 30px;
  --background-color: #ffffff;
  background-color: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .item + .item {
  margin-left: 30px;
}

.team .no-gap {
  display: block;
  margin-bottom: 30px;
}
.team-member {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.position {
  margin: 0;

  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.projects .title {
  display: none;
  margin: 0;

  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  list-style: none;
}
.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  color: var(--button-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  border: none;
  border-radius: 4px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  --text-color: #ffffff;
  color: var(--text-color);
  background-color: var(--focus-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.projects-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list .item:nth-child(3n) {
  margin-right: 0;
}

.projects-list .item:nth-child(n + 6) {
  margin-bottom: 0;
}

.projects-list .no-gap {
  display: block;
}
.projects-link {
  text-decoration: none;
}

.projects-list .desc {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-name {
  margin: 0;
  margin-bottom: 4px;

  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
.projects-name:active,
.projects-name:hover,
.projects-name:focus,
.projects-type:active,
.projects-type:hover,
.projects-type:focus {
  color: var(--focus-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  --background-color: #2f303a;
  background-color: var(--background-color);
}
.footer .logo {
  display: inline-block; /*!!!!!!*/
  margin: 0;

  margin-bottom: 20px;
  padding: 0;
}
.footer .logo-part {
  --logo-color: #ffffff;
  color: var(--logo-color);
}
.physical-address {
  margin: 0;
  margin-bottom: 9px;

  --text-color: #ffffff;
  color: var(--text-color);
  font-style: normal;
}

.web-address {
  display: inline-block;
  /*!!!!!!*/
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.web-address:not(:last-child) {
  margin-bottom: 9px;
}

.web-address:hover,
.web-address:focus {
  color: var(--focus-color);
}
